.cache/

# Ignore `.clangd`. Use the `.clangd-gen.py` script to generate a new one
.clangd

# Ignore Python virtual environment
venv/

# subprojects
subprojects/abseil-cpp-*/
subprojects/fmt-*/
subprojects/Catch2-*/
subprojects/json-*/
subprojects/magic_enum-*/
subprojects/packagecache/
